---
import Banner from './elementsHeader/Banner.astro';
import HeaderNavigation from './elementsHeader/HeaderNavigation';
---


<div class="w-full h-screen max-sm:h-[50vh]">
  <div class="relative w-full h-screen flex max-sm:h-full flex-col justify-start items-center">
    {/*header Navigation*/}
    <HeaderNavigation client:idle />

    {/*Banner_Background*/}
    <Banner />
  </div>

</div>
